.green{
  background-color:#5ED3B6;
}
.blue{
  background-color:#50BFEA;
}
.red{
  background-color:#F67C55;
}
.yellow{
  background-color:#F8B238;
}
.brown{
  background-color:#C7AC8E;
}
.dark-green{
  background-color:#A3CDA5;
}
.dark-blue{
  background-color:#849D9A;
}

.square{
  min-height:50%;
  border: 5px solid white;
  color: white;
}
h1{
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
.fa{
  color:white;
  // font-size: 317px;
  font-size: 24vw;
  text-align: center;
  display: block;
}
a:hover{
  text-decoration: none;
}
.thumbnail{
  margin-bottom: 0px;
  a >img{
    max-width: 23vw;
  }
}
body{
  height:100vh;
}
